#image-wrapper {
  width: 30%;
  margin: auto;
  user-select: none;
}

#tag:hover {
  cursor: default;
  user-select: none;
}

h6 {
  margin: auto;
}

#close {
  color: red;
  font-weight: bolder;
  float: right;
  font-size: 25px;
}

#close:hover {
  cursor: pointer;
}

#input-wrapper{
  width: 170px;
}

#tag-input {
  width: 90%;
  float: left
}